<?xml version="1.0"?>
<config>
    <modules>
        <Gtx_Webservice>
            <version>1.0.0</version>
        </Gtx_Webservice>
    </modules>
    <global>
        <helpers>
            <gtx_webservice>
                <class>Gtx_Webservice_Helper</class>
            </gtx_webservice>
        </helpers>    
        <models>
            <gtx_webservice>
                <class>Gtx_Webservice_Model</class>
            </gtx_webservice>
        </models>
    </global>
</config>
